.signup-container {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    padding: 20px;
}

.signup-box {
    background: var(--login-container);
    border-radius: 10px;
    padding: 20px 40px;
    /* max-height: 70%; */
    border: var(--card-border);
    color: var(--card-text-color);
    box-shadow: var(--box-shadow-card);
    width: 100%;
    max-width: 450px;
    max-height: calc(90vh - 90px);
    overflow-y: auto;
}

.signup-header {
    text-align: center;
    user-select: none;
    margin-bottom: 30px;
}

.signup-header h1 {
    color: var(--primary-color);
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.signup-header p {
    color: var(--secondary-color);
    font-size: 1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group-signup {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    position: relative;
}

.form-group-signup label {
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 500;
}

.form-group-signup input,
.form-group-signup select {
    padding: 12px;
    border: 1px solid #e7eaf0;
    border-radius: 5px;
    user-select: none;
    font-size: 1rem;
    transition: border-color 0.2s;
}

.form-group-signup input:focus,
.form-group-signup select:focus {
    border-color: var(--primary-color);
    outline: none;
}

.role-select {
    background-color: white;
    cursor: pointer;
}

.error-message {
    color: #ff4d4f;
    font-size: 0.8rem;
    margin-top: 4px;
}

.password-validation {
    margin-top: 8px;
    display: flex;
    user-select: none;
    flex-direction: column;
    gap: 4px;
}

.validation-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.8rem;
    color: #666;
}

.validation-item.valid {
    color: #52c41a;
}

.validation-item i {
    font-size: 1rem;
}

.validation-item.valid i {
    color: #52c41a;
}

.validation-item.invalid i {
    color: #ff4d4f;
}

.signup-button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}

.signup-button:hover {
    background-color: #1a68d1;
}

.login-prompt {
    text-align: center;
    margin-top: 20px;
    color: var(--secondary-color);
}

.login-prompt a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.login-prompt a:hover {
    text-decoration: underline;
}